* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
    min-height: 100px;
}

/* GENERAL STYLES */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --yelow: #FDC15F;
    --dark-grey: #333333;
}

body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}
.text-center{
    text-align: center;
}
/* CONTAINER */
.container{
    max-width: 600px;
    margin: 0 auto;
}

.flexbox{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

/***** SITE SECTIONS *****/
/* HEADER */
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 0;
}

header a{
    color: var(--white);
    text-decoration: none;
}

.nav-menu{
    display:none;
}

#logopagina{
    width: 100%;
}

/* MAIN */
#planning, #feature , #get-stared{
    background: var(--purple);
}

/* CARD in Intro Section*/
#intro{
    padding-bottom: 5rem;
}
.box-card{
    background-color: var(--light-blue);
    border-radius: 20px;
    margin-top: 50px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
}
.box-card h2{
    padding: 20px;
    font-size: 50px;
    color: var(--blue);
}
.box-card p{
    padding: 20px;
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: bold;
}

.box-card img{
    width: 100%;
}

#intro .fa-solid{
    font-size: 120px;
    color: var(--blue);
    padding-top: 40px;
}

.small{
    text-align: center;
    padding: 0 6rem;
    line-height: 1.5;
}

/* Planning Section*/
#planning img{
    width: 80%;
}

#planning{
    color: var(--white);
    padding: 3rem 2rem;
}

#planning h2{
    padding: 3rem 0;
    font-size: 3rem;
}

#planning p {
    padding-bottom: 3rem;
}

#planning div {
    background-color: var(--white);
    border-radius: 5rem;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    color: var(--black);
}

#planning div p {
    text-align: center;
    padding: 0 2rem; 
    line-height: 1.5;
}

#planning .cerchio {
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 2rem;
}
