* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
    min-height: 100px;
}

/* GENERAL STYLES */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --yelow: #FDC15F;
    --dark-grey: #333333;
}

body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}
.text-center{
    text-align: center;
}
/* CONTAINER */
.container{
    max-width: 600px;
    margin: 0 auto;
}

.flexbox{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

/***** SITE SECTIONS *****/
/* HEADER */
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 0;
    width: 100%;
}

header a{
    color: var(--white);
    text-decoration: none;
}

header ul li {
    list-style-type: none;
    padding: 5px 16px;
}

.nav-menu{
    display:none;
}

#logopagina{
    width: 100%;
}

/* MAIN */
#planning, #features , #get-started{
    background: var(--purple);
}

/* CARD in Intro Section*/
#intro{
    padding: 1rem 3rem;
}
#intro .card{
    background-color: var(--light-blue);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.card h2{
    padding: 20px;
    font-size: 30px;
    color: var(--blue);
}

.card p{
    padding: 20px;
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: bold;
}

.card img{
    width: 100%;
    display: block;
}

#intro .fa-solid{
    font-size: 120px;
    color: var(--blue);
    padding-top: 40px;
}

.small{
    text-align: center;
    padding: 0 6rem;
    line-height: 1.5;
}

/* Planning Section*/
#planning img{
    width: 80%;
}

#planning{
    color: var(--white);
    padding: 3rem 3rem;
}

#planning h2{
    padding: 2rem 0;
    font-size: 3rem;
}

#planning p {
    padding: 2rem 0rem;
}

#planning .app {
    background-color: var(--white);
    border-radius: 5rem;
    padding: 0 2rem;
    flex-direction: column;
    color: var(--black);
}

#planning .cerchio {
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 2rem;
}

/* Testimonials Section*/
#testimonials{
    padding: 1rem 3rem;
}
.testimonials-text{
    text-align: center;
}

.testimonials-text h2{
    color: var(--purple);
    padding: 2rem 3rem;
    font-size: 3rem;
}

.testimonials-text p{
    padding: 0rem 4.5rem 3rem 4.5rem;
    font-size: 1.5rem;
}

.purple-card{
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    border-radius: 35px;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
}

.circular{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circular img {
width: auto;
height: 100%;
margin-left: -50px;
}

.description p{
    font-size: 18px;
    padding: 20px 60px;
}

.description-name{
    font-weight: bold;
}

/* Feactures Section*/
#features{
    padding: 1rem 3rem;
}

#features h2{
    color: var(--white);
    text-align: center;
    padding: 3rem 5rem;
    font-size: 40px;
}

.white-card {
    background-color: var(--white);
    color: var(--dark-grey);
    border-radius: 35px;
    padding: 20px 60px;
    margin-bottom: 1.5rem;
}

.white-card span, .white-card h3{
    color: var(--purple);
}

.white-card span{
    font-size: 60px;
}

.white-card h3{
    font-size: 30px;
    padding: 25px 0;
}

.white-card p{
    font-size: 20px;
    color: var(--dark-grey);
    line-height: 1.5;
}

/* About Us Section */
#about-us{
    padding: 1rem 3rem;
}

#about-us h1{
    color: var(--purple);
    font-size: 70px;
    padding: 40px 0;
}

#about-us p{
    font-size: 22px;
    line-height: 2;
}

.about-image{
    padding-top: 50px;
}

.about-image img{
    width: 50%;
}

.circular-square{
    border-radius: 50%;
}

.about-image h3{
    color: var(--purple);
    font-size: 50px;
    padding-top: 30px;
}

/* GeT stared Section */
#get-started{
    text-align: center;
    padding-bottom: 50px;
}

#get-started h3{
    color: var(--dark-grey);
    font-size: 18px;
}

#get-started h2{
    color: var(--white);
    width: 50%;
    margin: auto;
    font-size: 30px;
}

#get-started h1{
    color: var(--yelow);
    font-size: 50px;
}

#get-started p {
    color: var(--white);
    font-size: 22px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

#get-started .copyright , .copyright a:visited , .copyright a:link {
    color: white;
}

.copyright ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
}

.copyright ul li {
    margin-right: 20px;
    font-size: 12px;
}

/* FOOTER */
footer{
    text-align: center;
    color: var(--white);
    background-color: var(--dark-grey);
    font-size: 1rem;
}

footer .container{
    width: 80%;
    padding-top: 3rem;
}

footer p{
    color: var(--white);
    padding-bottom: 3rem;
}

footer a:link , footer a:visited{
    color: var(--purple);
}

/* RESPONSIVE TABLET */

@media screen and (min-width:768px) {
    /* ALL SECTION */
    .container {
        max-width: 750px;
    }

    /* CARD in Intro Section*/
    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        flex-basis: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child {
        flex-basis: calc(66.66% - 1.5rem);
    }

    .small{
        padding: 0;
    }

    .card img {
        max-width: 100%;
    } 

    /* Testimonials Section */
    #testimonials .purple-card{
        display: flex;
    }
    .description{
        display: flex;
        flex-basis: 65%;
        flex-wrap: wrap;
        text-align: left;
        padding: 15px 15px 0px 30px;
    }

    .testimonials-text h2{
        padding: 2rem 0rem;
    }

    .testimonials-text p{
        padding: 0rem 0rem 3rem 0rem;
    }
    
    .description p{
        padding: 0;
    }

    /* Features Section  */
    #features .big-box-white-card{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #features .box-white-card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        flex-basis: calc(50% - 1.5rem);
    }

    /* About Us Section */
    #about-us .container{
        display: flex;
        justify-content: space-between;
    }

    #about-us .about-text{
        flex-basis: 70%;
        padding: 0rem 5rem 3rem 0;
    }

    #about-us .about-text h1{
        font-size: 3rem;
    }

    .about-image h3{
        font-size: 20px;
    }

    .about-image img{
        width: 100%;
    }

    #about-us .about-image{
        flex-basis: 30%;
    }
}

/* RESPONSIVE DESKTOP 900 */
@media screen and (min-width:992px) {
    .container {
        max-width: 900px;
    }

    /* HEADER */
    .hamburger {
        display: none;
    }

    .nav-menu{
        display: block;
    }
    
    /* Intro Section */
    #intro .container .card:first-of-type {
        display: flex;
        align-items: flex-end;
    }

    #intro .sx-get {
        flex-basis: 60%;
        padding-bottom: 30%;
    }

    #intro .dx-get {
        width: 80%;
    }

    /* Planning Section */
    #planning .container{
        display: flex;
        justify-content: center;
    }

    #planning .sx-plan {
        flex-basis: 40%;
        padding: 0 2rem;
    }

    #planning .dx-plan {
        display: flex;
        flex-direction: column;
        justify-content: end;
        flex-basis: 40%;
        padding: 0 2rem;
    }
}